## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## NuGet
packages/
*.nupkg

## Project specific
appsettings.Development.json